@import 'config';

.title {
  border-bottom: none;
  background: url(satstras.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  position: relative;
  h1 {
    border: 5px $green solid;
    background: rgba(black, 0.5);
    padding: 5px 20px;
    display: block;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: $green;
    white-space: nowrap;
  }
  h2 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    color: $white;
    font-size: 30px;
    white-space: nowrap;
  }
  #mc_embed_signup {
    background: rgba(black, 0.5);
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    label {
      font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
      color: $white;
      display: block;
      font-size: 25px;
    }
    input {
      height: 50px;
      border: none;
      transition-duration: 250ms;
      &[type=email] {
        background: $white;
        color: $black;
        height: 30px;
        padding: 10px;
        width: 200px;
      }
      &[type=submit] {
        width: 150px;
        background: $black;
        color: $green;
        border: 3px $green solid;
        &:hover {
        background: $green;
        color: $black;
        }
      }
    }
  }
  .scrollTo {
    color: $green;
    display: block;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0%) rotate(135deg);
    -webkit-transform: translate(-50%, 0%) rotate(135deg);
    transition-duration: 250ms;
    width: 60px;
    height: 60px;
    border-right: 50px solid $green;
    border-top: 50px solid $green;
    &:hover {
      width: 70px;
      height: 70px;
      border-right: 60px solid $green;
      border-top: 60px solid $green;
    }
  }
}